@tailwind base;
@tailwind components;
@tailwind utilities;


.search-widget {
    position: relative;
    height: 40px;
}

.search-widget .search-input {
    background-color: rgba(243, 244, 246, 1);
    border-radius: 18px 0 0 18px;
    font-size: 14px;
    padding: 8px;
    height: 40px;
    width: 40px;
    transition: width  0.3s ease;
}

.search-button {
    background-color: rgba(243, 244, 246, 1);
    border: 0;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: transform o.3s ease;
}

.search-button:focus, 
.search-input:focus {
    outline: none;

}

.search-widget.active .search-input {
    width: 200px;
}

.search-widget.active .search-button {
    transform: translateX(198px);
    border-radius: 0 18px 18px 0;
}