@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:wght@400;700&display=swap');

/*=========== VARIABLE CSS =========*/
:root {
	--hearder--height: 2rem;

	/*==== COLORS ====*/
	--body-color: #fff;
	--container-color: #fff;
	--container-color-alt: #dcd9d9;
	--title-color: #040404;
	--text-color: #666060;
	--text-color-alt: #1e1d1d;
	--text-color-light: #fff;
	--first-color: #0f2813f8;
	--first-color-second: #eef1bf;

	/*===== Font & Typography ======*/
	/*== .5rem = 8px, 1rem = 16px ==*/

	--body-font: 'Poppins', sans-serif;
	--big-font-size: 2rem;
	--h1-font-size: 1.5rem;
	--h2-font-size: 1.25;
	--h3-font-size: 1.125rem;
	--normal-font-size: 0.938rem;
	--small-font-size: 0.813rem;
	--smaller-font-size: 0.75rem;

	/*========== Font Weight =======*/
	--font-medium: 500;
	--font-semi-bold: 600;

	/*========== MARGENES BOTTOM =======*/
	--mb-0-25: 0.25rem;
	--mb-0-5: 0.5rem;
	--mb-0-75: 0.75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*========== Z INDEX ==============*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 100;
}

/*============ FONT SIZE FOR LARGE DEVICES ============*/
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: 0.875rem;
		--smaller-font-size: 0.813rem;
					
	}
	
}

/*======== Base CSS ==========*/
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 3rem;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

/********** LAYOUT ******/
.container {
	max-width: 1120px;
	margin-inline: 1.5rem;
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
}

.nav{
	height: 3.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav_logo {
	color: var(--first-color);
}

.logo_icon {
	font-size: 1.5rem;
	font-weight: var(--font-medium);
}

.shop {
	font-size: var(--h1-font-size);
	font-weight: 800;
}

.nav_toggle,
.nav_close {
	display: flex;
	font-size: 1.2rem;
	color: var(--title-color);
	cursor: pointer;
}

/*=========== Navigation for Mobile Devices ========*/
@media screen and (max-width:1023px){
	.nav_menu {
		position: fixed;
		top: 0;
		right: -100%;
		background-color: var(--body-color);
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		height: 100%;
		width: 35%;
		padding: 4.5rem 0 0 3rem;
		backdrop-filter: blur(24px);
		-webkit-backdrop-filter: blur(24px);
		transition: right .4s;
	}	

	.cart_link {
		display: none;
	}
}

.nav_list {
	display: flex;
	flex-direction: column;
	row-gap: 3.5rem;
}

.nav_link{
	color: var(--text-color);
	font-weight: var(--font-medium);
	transition: color .4s;
}

.nav_link:hover {
	color: var(--title-color);
}

.nav_close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

/*====== Show Menu =====*/
.show-menu {
	right: 0;
}

.search-widget {
	position: relative;
	height: 30px;
}

.search-widget .search-input {
	background-color: #fff;
	border: 0;
	font-size: 12px;
	padding: 10px;
	height: 30px;
	width: 30px;
	transition: width  0.3s ease;
}

.search-button {
	background-color: #fff;
	border: none;
	cursor: pointer;
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 30px;
	transition: transform o.3s ease;
}

.search-button:focus, 
.search-input:focus {
	outline: none;

}

.search-widget.active .search-input {
	width: 200px;
	border-radius: 8px 0 0 8px;
	background-color: #ccc9c9;
}

.search-widget.active .search-button {
	transform: translateX(198px);
	border-radius: 0 8px 8px 0;
}

.account_link {
	color: var(--title-color);
	font-size: var(--normal-font-size);
}

.user_icon {
	font-size: 1.2rem;
	font-weight: var(--font-semi-bold);
}